@charset "utf-8";

body {
	background-color: #fff;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow-y: hidden;
	transition: background 0.5s linear;
}

a {
	text-decoration: none;
	padding: 0 2px 1px;
	border-bottom: 1px solid #ddd;
	color: #ddd;
}

.main {
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	padding: 10px 30px 20px;
	min-width: 600px;
	max-width: 900px;
	margin: 0 auto;
}

.header, .footer {
	text-align: center;
}

.footer {
	font-size: 85%;
	color: #aaa;
	padding: 10px 0 20px;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}

fieldset {
	margin: 20px auto;
	width: 550px;
}

label > input {
	margin-right: 10px;
}